<h1>Create Teacher</h1>

<%= form_for @teacher do |f| %>
  <%= f.fields_for :user do |user_form| %>
    <div>
      <%= user_form.label :name %>
      <%= user_form.text_field :name %>
    </div>
    <div>
      <%= user_form.label :login %>
      <%= user_form.text_field :login %>
    </div>
    <div>
      <%= user_form.label :password %>
      <%= user_form.password_field :password %>
    </div>
    <div>
     <%= user_form.label :password_confirmation %>
     <%= user_form.password_field :password_confirmation %>
    </div>
    <% end %>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Create</button>
  </div>
<% end %>
